<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="row">

 <div class="col s12">
  <nav class="red darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">&nbsp;&nbsp;&nbsp;Medzbook</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          {{#if session.isAuthenticated}}
            {{#link-to 'protected'}}Protected{{/link-to}}
            {{#link-to 'posts'}}Post{{/link-to}}
            <a {{action 'logout'}}>Logout</a>
          {{else}}
            {{#link-to 'login'}}Login{{/link-to}}
            {{#link-to 'signup'}}Signup{{/link-to}}
          {{/if}}
        &nbsp;</li>
      </ul>
    </div>
  </nav>
 </div>

 <div class="col s3">
   <div class="card-panel">
   </div>
 </div>

 <div class="col s9">
   <div class="card-panel">
     {{outlet}}
   </div>
 </div>

</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
</body>
</html>
