<form {{action 'authenticate' on="submit"}} >
  Email: {{input value=email type="text"}}
  Password: {{input value=password type="password"}}
  <button class='btn red darken-2' type="submit">Login</button>
</form>
