<form>
  <div>
    <label>Author:</label>
    {{input type="text" value=model.author}}
  </div>
  <div>
    <label>Body:</label>
    {{textarea rows="5" value=model.body}}
  </div>
  <div>
    <button class='btn red darken-2' {{action 'save'}}>Save</button>
    <button class='btn red darken-2' {{action 'cancel'}}>Cancel</button>
  </div>
</form>
